.SideRight{
	position: relative;

	.info {
		position: absolute;
		right: 0%;
		transition: all 0.3s ease 0s;
		height: 600px;
		border: 1px solid black;
		z-index: 9;
		background-color: rgba(255, 255, 255, 0.8);
		position: fixed;


		.pad {
			padding: 20px;
		}

		.button_close {
			display: flex;
			justify-content: space-between;
			align-items: baseline;

			
		}
		
		.close{
			top: 60px;
			border: none;
			position: inherit;
			
		}

		h3 , p {
			margin: 0;
		}
	}

	.butt_setting {
		position: absolute;
		right: 5%;
		top: 500px;
		border: none;
		background-color: white;
		cursor: pointer;
		border-radius: 50%;
		box-shadow: rgb(0 0 0 / 12%) 0rem 0.3125rem 0.625rem 0rem;
		position: fixed;

		img {
			width: 30px;
			padding: 8px;
			opacity: 0.8;
		}
	}

	.line_div {
		border: 1px solid black;
		margin: 15px 0px;
		
	}

	.buttons_div {
		display: flex;
		margin: 20px 0px;

	}
	
	.div_but_tramsparent{
		display: flex;
		justify-content: space-between;
		padding-right: 10px;
		margin: 20px 0px;

		.but_tramsparent {
			width: 48%;
			letter-spacing: 0.02857em;
			padding: 0.75rem 1.5rem;
			font-size: 0.75rem;
			font-weight: 700;
			border-radius: 0.5rem;
			border: none;
			transition: all 150ms ease-in 0s;
			border: 1px solid rgb(23, 193, 232);
			color: rgb(23, 193, 232);
			box-shadow: rgb(0 0 0 / 11%) 0rem 0.25rem 0.4375rem -0.0625rem, rgb(0 0 0 / 7%) 0rem 0.125rem 0.25rem -0.0625rem;
			background-color: transparent;

			&:hover {
				transform: scale(1.05)
			}
		}

		.active {
			background-image: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
			color: white;
			
		}
	}

	
}



