.DashboardMiddle {
    display: grid;
    grid-template-columns: auto auto;

    .DashboardMiddleItem2 {
        background: white;
        border-right-width: 20px;
        width: 550px;
        height: 435px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
    }

    .DashboardMiddleItem1 {
        background: white;
        border-right-width: 20px;
        width: 395px;
        height: 435px;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        div {
            width: 90%;
            height: 50%;
            border: 1px solid;
        }
    }
}
