<<<<<<< HEAD
header {
    margin-left: 2%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background: #f8f9fa;
    border-radius: 20px;

    .dashLeft {
        h4 {
            color: rgb(52 71 103);
        }
        i {
            color: rgb(150 160 176);
        }
        p {
            color: rgb(108 122 146);
        }
    }
    .dashRight {
        display: flex;
        width: 45%;
        justify-content: space-evenly;
        input {
            border-radius: 0px 5px 5px 0px;
            padding: 10px 0 10px 10px;
            border: 1px solid rgb(210 214 218);
            border-left: none;
            outline-color: rgb(53 209 245);
        }
        button {
            padding: 10px;
            background-color: white;
            border: 1px solid rgb(210 214 218);
            border-right: none;
            border-radius: 5px 0 0 5px;
        }
    }
}
@media screen and (max-width: 760px) {
    header {
        flex-direction: column;
        align-items: start;
        padding: 15px 50px;

        .dashRight {
            width: 100%;
            justify-content: space-between;
        }
    }
}
main{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
    .dayInfoContainer {
        display: grid;
        grid-template-columns: auto auto auto auto;
        .dayInfo {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border: 1px solid;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 8px 14px 6px rgb(0 0 0 / 5%);
            width: 180px;
        }
    }
}
=======
.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 450px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
>>>>>>> 8c5c289fb6f9cebc1e66fa1703e2020ffbc5a732
