.proj{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .projStart{
        display: flex;
        justify-content: space-between;
        width: 35%;
        align-items: center;

        h3{
            font-size: 1rem;
        }
    }
    .icon{
        width: 2.25rem;
    }
    .member{
        width: 20px;
        height: auto;
        border-radius: 50%;
    }
}