.proj{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.0625rem solid rgb(222, 226, 230);
    padding: 13px 15px;
    
    .members{
        width: 10%;   
    }
    .projStart{
        display: flex;
        width: 43%;
        align-items: center;

        h3{
            font-size: 1rem;
            color: rgb(52, 71, 103);
            margin-left: 20px;
        }
    }
    .icon{
        width: 2.25rem;
    }
    img{
        width: 25px;
        border: 2px solid white;
        height: auto;
        border-radius: 50%;
        margin-left: -10px;
        cursor: pointer;
    }
    p{
        color: rgb(103, 116, 142);
        font-weight: 500;
        font-size: 14px;
    }
    .full{
        position: absolute;
        width: 140px;
        height: 6px; 
        background: linear-gradient(310deg, rgb(23, 173, 55), rgb(152, 236, 45));
        border-radius: 50px
    }
    .progress1{
        position: absolute;
        background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
        width: 85px;
        height: 6px; 
        border-radius: 50px
    }
    .progress2{
        position: absolute;
        background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
        width: 15px;
        height: 6px; 
        border-radius: 50px
    }
    .progress5{
        position: absolute;
        background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
        width: 30px;
        height: 6px; 
        border-radius: 50px
    }
    .progress6{
        position: absolute;
        background: linear-gradient(310deg, rgb(33, 82, 255), rgb(33, 212, 253));
        width: 55px;
        height: 6px; 
        border-radius: 50px
    }
}